# Converting Strings to Dates

In [5]:
## Creating a string
date_string = '13-05-2005'

## Converting to date
as.Date(date_string, format = '%d-%m-%Y')

[1] "2005-05-13"

# Selecting Dates

In [3]:
## Creating a data-frame with dates
data = data.frame(Date = seq(as.Date('01-01-2001', format = '%m-%d-%Y'), by = 'day', length.out = 100))
head(data)

  Date
1 2001-01-01
2 2001-01-02
3 2001-01-03
4 2001-01-04
5 2001-01-05
6 2001-01-06

In [5]:
## Selecting dates between two dates
subset(data, Date >= as.Date('2001-01-02') & Date <= as.Date('2001-03-21'))

   Date
2  2001-01-02
3  2001-01-03
4  2001-01-04
5  2001-01-05
6  2001-01-06
7  2001-01-07
8  2001-01-08
9  2001-01-09
10 2001-01-10
11 2001-01-11
12 2001-01-12
13 2001-01-13
14 2001-01-14
15 2001-01-15
16 2001-01-16
17 2001-01-17
18 2001-01-18
19 2001-01-19
20 2001-01-20
21 2001-01-21
22 2001-01-22
23 2001-01-23
24 2001-01-24
25 2001-01-25
26 2001-01-26
27 2001-01-27
28 2001-01-28
29 2001-01-29
30 2001-01-30
31 2001-01-31
⋮  ⋮
51 2001-02-20
52 2001-02-21
53 2001-02-22
54 2001-02-23
55 2001-02-24
56 2001-02-25
57 2001-02-26
58 2001-02-27
59 2001-02-28
60 2001-03-01
61 2001-03-02
62 2001-03-03
63 2001-03-04
64 2001-03-05
65 2001-03-06
66 2001-03-07
67 2001-03-08
68 2001-03-09
69 2001-03-10
70 2001-03-11
71 2001-03-12
72 2001-03-13
73 2001-03-14
74 2001-03-15
75 2001-03-16
76 2001-03-17
77 2001-03-18
78 2001-03-19
79 2001-03-20
80 2001-03-21

# Breaking Up Date Into Multiple Features