# Reading Text File

In [4]:
mydata = read.table(file = 'mydata.txt')
names(mydata) = c('Gender', 'Age', 'Height', 'Weigth')
head(mydata)

  Gender Age Height Weigth
1 M      50  68     155
2 F      23  60     101
3 M      65  72     220
4 F      35  65     133
5 M      15  71     166

# Reading CSV File

In [6]:
mydata = read.csv(file = 'mydata.csv')
names(mydata) = c('Gender', 'Age', 'Height', 'Weigth')
head(mydata)

  Gender Age Height Weigth
1 F      23  60     101
2 M      65  72     220
3 F      35  65     133
4 M      15  71     166