# Reading Text File

In [1]:
mydata = read.table(file = 'mydata.txt')
names(mydata) = c('Gender', 'Age', 'Height', 'Weigth')
head(mydata)

  Gender Age Height Weigth
1 M      50  68     155
2 F      23  60     101
3 M      65  72     220
4 F      35  65     133
5 M      15  71     166

# Reading CSV File

In [2]:
mydata = read.csv(file = 'mydata.csv', header = F)
names(mydata) = c('Gender', 'Age', 'Height', 'Weigth')
head(mydata)

  Gender Age Height Weigth
1 M      50  68     155
2 F      23  60     101
3 M      65  72     220
4 F      35  65     133
5 M      15  71     166

# Reading Excel File

In [3]:
library(readxl)
wages = read_excel('wages.xls')
head(wages)

  Subject Date       Hours Worked Rate Per Hour Wage
1 M12     2006-12-12 40           15.25          610.00
2 F34     2006-11-16 35           25.57          894.95
3 M76     2006-06-03 10           54.00          540.00
4 F87     2006-04-06 45           35.00         1575.00
5 M122    2006-08-04 40           35.00         1400.00

# Reading JSON File

In [4]:
install.packages('rjson')

Updating HTML index of packages in '.Library'

Making 'packages.html' ...
 done

In [5]:
library(rjson)
mydata = fromJSON(file = 'mydata.json')
mydata = as.data.frame(do.call('rbind', mydata)) 
names(mydata) = c('Gender', 'Age', 'Height', 'Weigth')
head(mydata)

  Gender Age Height Weigth
1 M      50  68     155
2 F      23  60     101
3 M      65  72     220
4 F      35  65     133
5 M      15  71     166