In [5]:
## Defining two data-frames
data_1 = data.frame(id = c('b', 'b', 'a', 'c', 'a', 'a', 'b'), x = sample(1:100, 7))
data_2 = data.frame(id = c('a', 'b', 'd'), y = sample(1:100, 3))

# Inner Join

In [6]:
data_inner = merge(data_1, data_2, by = c('id'))
data_inner

  id x   y
1 a   97  1
2 a   86  1
3 a   95  1
4 b   92 99
5 b  100 99
6 b   77 99