In [1]:
## Defining two data-frames
data_1 = data.frame(id = c('b', 'b', 'a', 'c', 'a', 'a', 'b'), x = sample(1:100, 7))
data_2 = data.frame(id = c('a', 'b', 'd'), y = sample(1:100, 3))

# Inner Join

In [6]:
data_inner = merge(data_1, data_2, by = c('id'))
data_inner

  id x   y
1 a   97  1
2 a   86  1
3 a   95  1
4 b   92 99
5 b  100 99
6 b   77 99

# Left Join

In [2]:
data_left = merge(data_1, data_2, by = c('id'), all.x = TRUE)
data_left

  id x   y
1 a  100 12
2 a   99 12
3 a    8 12
4 b   25 86
5 b   92 86
6 b   69 86
7 c   47 NA

# Right Join

In [3]:
data_right = merge(data_1, data_2, by = c('id'), all.y = TRUE)
data_right

  id x   y
1 a  100 12
2 a   99 12
3 a    8 12
4 b   25 86
5 b   92 86
6 b   69 86
7 d   NA 89

# Data Stacking

In [4]:
## Defining two data-frames
data_1 = data.frame(id = c('b', 'b', 'a', 'c', 'a', 'a', 'b'), x = sample(1:100, 7))
data_2 = data.frame(id = c('a', 'b', 'd'), x = sample(1:100, 3))

data_combined = rbind(data_1, data_2)
data_combined

   id x
1  b  59
2  b  28
3  a  54
4  c  69
5  a  44
6  a  12
7  b  19
8  a  34
9  b  54
10 d  80